:root {
  --secondary-color: #09601d;
  --accent-color: #ffffff;
  --primary-color: #393e39;
  --accent2-color: #393e3927;
  --body-background-color: #eaedea;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--body-background-color);
}

header {
  padding: .5rem 0;
}

header,
footer {
  background-color: var(--secondary-color);
  color: #ffffff;
  text-align: center;
}

nav {
  background-color: var(--primary-color);
  color: #fff;
  padding: .5rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
  overflow: hidden;
  padding: 0.6rem;
}

nav a:hover,
nav a:active {
  color: rgb(226, 226, 226);
}

nav a.active {
  color: var(--accent-color);
  border-radius: 5px;
  padding: .6rem;
  font-weight: 700;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .4rem;
  background-color: var(--body-background-color);
  transform: scaleX(0);
  /* transform-origin: left; */
  transition: transform 0.3s ease-in-out;
}

nav a:hover::after,
nav a:active::after,
nav a.active::after {
  transform: scaleX(1);
}

nav a:hover,
nav a:active {
  color: rgb(226, 226, 226);
}

nav a.active {
  color: var(--accent-color);
  border-radius: 5px;
  padding: .6rem;
  font-weight: 700;
}

main {
  padding: 1rem;
}

main h1, main h2 {
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem;
}

/* Home Page Styling */

section {
  padding: 0 2rem;
}

.card {
  margin: 1rem 0;
  padding: .5rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  background-color: var(--accent2-color);
}

.expense-button {
  text-align: center;
}

.heading {
  text-align: center;
}

p {
  margin: .5rem auto;
}

.about {
  margin-top: 2rem;
}

/* Expense Tracker Page */

.form-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  background-color: #fff;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}

form select {
  padding: .4rem;
  border-bottom: .2rem solid var(--secondary-color);
}

form input,
form select,
button {
  /* width: 100%; */
  padding: 0.5rem;
  margin: .5rem 0;
}

.add-expense {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table th,
table td {
  border: 2px solid var(--accent-color);
  padding: 0.5rem;
  text-align: left;
}

table th {
  background-color: var(--primary-color);
  color: #ffffff;
}

button {
  background-color: var(--secondary-color);
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.delete-btn {
  background-color: #333;
  color: #ffffff;
}

.edit-btn {
  background-color: var(--secondary-color);
}

#total-expenses {
  text-align: right;
  font-size: 18px;
  padding: 1rem;
}

.filter {
  margin-bottom: 20px;
  text-align: right;
}

.filter label {
  margin-right: 10px;
}

.filter select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-bottom: .2rem solid var(--secondary-color);
}

#expenses-chart {
  padding: 1rem;
  max-width: 760px;
  place-self: center;
}

footer {
  text-align: center;
  padding: 1rem;
}

footer p:nth-child(1) {
  margin-bottom: 0;
}

footer p:nth-child(2) {
  margin-top: 0.125rem;
}

@media (min-width: 760px) {
  .overview {
    grid-template-columns: 350px 1fr;
    display: grid;
    gap: 2rem;
  }

  .overview div:nth-child(1) {
    margin: 2.5rem;
  }

  h2 {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .overview {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 1rem;
  }
}

@media (max-width: 760px) {

  .form-container,
  .card {
    padding: 1rem 0.5rem;
  }

  table th,
  table td {
    font-size: 14px;
  }

}

@media (max-width: 480px) {

  main {
    padding: .5rem;
  }
  .form-container,
  form input,
  form select,
  button {
    padding: 0.3rem;
  }

  form label {
    font-size: 0.9rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .filter {
    text-align: right;
  }

  label {
    display: block;
  }

  table th,
  table td {
    font-size: 10px;
  }

  .delete-btn {
    font-size: 10px;
  }

  .edit-btn {
    font-size: 10px;
  }
}