:root {
--primary-color: #5b635c ;
--secondary-color: #28a745 ;
--accent-color: #eaedea;

--heading-font: "Roboto Slab";
--paragraph-font: 'Roboto', Helvetica, sans-serif;

--paragraph-color-on-white: #5b635c;
--paragraph-color-on-color: white;
--paragraph-background-color: #291840 ;
--nav-link-color: #eaedea;
--nav-background-color: #5b635c;
}

* {
  box-sizing: border-box;
}

header {
  margin: 0;
  padding: 0;
}

body {
  max-width: 960px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}

main {
  padding: 0 1rem;
}

.colors {
  width: 100%;
  min-width: 250px;
  margin: 30px auto;
  text-align: center;
}

.colors th:nth-child(1) {
  background-color: var(--primary-color);
}

.colors th:nth-child(2) {
  background-color: var(--secondary-color);
}
.colors th:nth-child(3) {
  background-color: var(--accent-color);
}

.colors td {
  width: 20%;
  height: 3em;
  color: #232323;
}

.card {
  /* border: 1px solid ; */
  margin: 1rem 0;
  padding: .5rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}